*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
body{
 text-align: center;
  
}
.container{
    height: 70vh;
    width: 50vh;
   border: none;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 20px skyblue;
     position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
h1{
    margin-top:2rem ;
    margin-bottom: 2rem;
    text-decoration: underline;
}
p{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
#height{
    width: 30vmin;
    height: 2rem;
    font-size: 2rem;
    outline: none;
margin-bottom: 2rem;
border: none;
border-bottom: 1px solid black;
text-align: center;
padding-bottom: 0.6rem;
background-color: transparent;
}
#weight{
    width: 30vmin;
    height: 2rem;
    font-size: 2rem;
    outline: none;
margin-bottom: 2rem;
border: none;
border-bottom: 1px solid black;
text-align: center;
padding-bottom: 0.6rem;
background-color: transparent;

}
button{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
background-color: blue;
color: white;
font-size: 1.5rem;
text-align: center;
padding-bottom: 10px;
border: none;
}
#result{
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.switch{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 1.2rem;
    font-weight: bold;
}


  .checkbox-wrapper-7 .tgl {
    display: none;
  }
  .checkbox-wrapper-7 .tgl,
  .checkbox-wrapper-7 .tgl:after,
  .checkbox-wrapper-7 .tgl:before,
  .checkbox-wrapper-7 .tgl *,
  .checkbox-wrapper-7 .tgl *:after,
  .checkbox-wrapper-7 .tgl *:before,
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-7 .tgl::-moz-selection,
  .checkbox-wrapper-7 .tgl:after::-moz-selection,
  .checkbox-wrapper-7 .tgl:before::-moz-selection,
  .checkbox-wrapper-7 .tgl *::-moz-selection,
  .checkbox-wrapper-7 .tgl *:after::-moz-selection,
  .checkbox-wrapper-7 .tgl *:before::-moz-selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-7 .tgl::selection,
  .checkbox-wrapper-7 .tgl:after::selection,
  .checkbox-wrapper-7 .tgl:before::selection,
  .checkbox-wrapper-7 .tgl *::selection,
  .checkbox-wrapper-7 .tgl *:after::selection,
  .checkbox-wrapper-7 .tgl *:before::selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after,
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-7 .tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.8em;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
    background: #86d993;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.8em;
  }


  

  .dark{
    background-color:black;
    color: white;
  }
  .light{
    background-color: white;
    color: black;
  }